node-red flow DL-IAM integration with two databases local+cloud+mobile mqtt.txt
[{"id":"d1c450bf.3d309","type":"mqtt out","z":"d6ae0fae.095ed","name":"","topic":"nivell_co2","qos":"","retain":"","broker":"9c075861.5c2e68","x":1280,"y":780,"wires":[]},{"id":"30b5ce70.8e7022","type":"comment","z":"d6ae0fae.095ed","name":"DL-IAM CATSENSORS","info":"","x":220,"y":120,"wires":[]},{"id":"fff9263d.119788","type":"inject","z":"d6ae0fae.095ed","name":"Test nivell C02","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"801","payloadType":"num","x":1040,"y":740,"wires":[["d1c450bf.3d309","ffce9792.67b168"]]},{"id":"794f436c.8e49fc","type":"mqtt in","z":"d6ae0fae.095ed","name":"","topic":"catsensors-decentlab/devices/03795/up","qos":"2","datatype":"auto","broker":"c87b0402.e17488","x":310,"y":60,"wires":[["4fb20f92.b8a0f","d2900735.211668"]]},{"id":"4fb20f92.b8a0f","type":"debug","z":"d6ae0fae.095ed","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":60,"wires":[]},{"id":"ffce9792.67b168","type":"debug","z":"d6ae0fae.095ed","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1310,"y":860,"wires":[]},{"id":"3592bb0c.a76354","type":"comment","z":"d6ae0fae.095ed","name":"InfluxDB Cloud injection","info":"","x":1100,"y":340,"wires":[]},{"id":"7d7b4b6e.d08a54","type":"comment","z":"d6ae0fae.095ed","name":"For MQTT \"user\"/\"password\", use \"Application ID\"/\"default key\" ","info":"\n1) Sign in to TTN and go to your application page where \"app_1\" is your \"Application ID\" e.g.\nhttps://console.thethingsnetwork.org/applications/app_1\n\n2) For MQTT User, use \"Application ID\" \n\n3) For MQTT password, scroll to bottom and use \"default key\" (you need to press the \"eye\" to see the long text)","x":390,"y":480,"wires":[]},{"id":"d2900735.211668","type":"function","z":"d6ae0fae.095ed","name":"Decrypt Payload","func":"// msg1 - Unencrypted\nvar msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.payload_raw;\n\nreturn msg1;","outputs":1,"noerr":0,"x":240,"y":540,"wires":[["94d3ac76.dc9c2","f7967314.d5f0e"]]},{"id":"94d3ac76.dc9c2","type":"debug","z":"d6ae0fae.095ed","name":"payload_raw ","active":false,"console":"false","complete":"payload","x":430,"y":520,"wires":[]},{"id":"7c5c884.04bbb78","type":"debug","z":"d6ae0fae.095ed","name":"decoded","active":false,"console":false,"complete":"payload","x":466.00000762939453,"y":614.9999771118164,"wires":[]},{"id":"c3e27ca2.24c13","type":"function","z":"d6ae0fae.095ed","name":"version","func":"var a={payload: msg.payload[0]};\nreturn a;","outputs":1,"noerr":0,"x":474.55554962158203,"y":656.0000047683716,"wires":[["f880a176.bc408"]]},{"id":"bdb308f3.6c0ad8","type":"function","z":"d6ae0fae.095ed","name":"device id","func":"msg.payload = msg.payload.readUInt16BE(1)\nreturn msg;\n","outputs":1,"noerr":0,"x":461.9443893432617,"y":694.3333139419556,"wires":[["8985970d.9d0018"]]},{"id":"6cbf7026.6fb77","type":"function","z":"d6ae0fae.095ed","name":"battery voltage","func":"msg.payload = msg.payload.readUInt16BE(5)/1000\nreturn msg;\n","outputs":1,"noerr":0,"x":476.4999771118164,"y":772.8888473510742,"wires":[["26e168b0.a1eb78"]]},{"id":"4dfb893a.a13758","type":"function","z":"d6ae0fae.095ed","name":"flags","func":"msg.payload = msg.payload.readUInt16LE(3)\nreturn msg;\n","outputs":1,"noerr":0,"x":450.4999771118164,"y":733.6666793823242,"wires":[["5e0e27e3.7711c8"]]},{"id":"c21c11c6.efd4c","type":"function","z":"d6ae0fae.095ed","name":"air temperature","func":"msg.payload = ((msg.payload.readUInt16BE(7))/65535)*175-45;\nreturn msg;\n","outputs":1,"noerr":0,"x":479.67449951171875,"y":813.5555419921875,"wires":[["f31d9517.f2aed8"]]},{"id":"7863311.bc521d","type":"function","z":"d6ae0fae.095ed","name":"air_humidity","func":"\nmsg.payload = ((msg.payload.readUInt16BE(9))/65535)*100;\nreturn msg;","outputs":1,"noerr":0,"x":465.0833206176758,"y":854.3611373901367,"wires":[["3c572f23.4d3f9"]]},{"id":"8c041493.b0a4f8","type":"function","z":"d6ae0fae.095ed","name":"barometric_pressure","func":"\nmsg.payload = (msg.payload.readUInt16BE(11))*2;\nreturn msg;","outputs":1,"noerr":0,"x":493.0833206176758,"y":895.3611373901367,"wires":[["bc2532e7.23b9c"]]},{"id":"9903c025.6a40c","type":"function","z":"d6ae0fae.095ed","name":"ambient_light_ch0","func":"\nmsg.payload = (msg.payload.readUInt16BE(13));\nreturn msg;","outputs":1,"noerr":0,"x":480.0833206176758,"y":932.3611373901367,"wires":[["4b8ab0a.913505"]]},{"id":"a3cd43f.6bd77c","type":"function","z":"d6ae0fae.095ed","name":"ambient_light_ch1","func":"\nmsg.payload = (msg.payload.readUInt16BE(15));\nreturn msg;","outputs":1,"noerr":0,"x":480.0833206176758,"y":974.3611373901367,"wires":[["1988a143.11411f"]]},{"id":"edf38efd.abb36","type":"function","z":"d6ae0fae.095ed","name":"co2_concentration","func":"msg.payload = (msg.payload.readUInt16BE(17))-32768;\nreturn msg;","outputs":1,"noerr":0,"x":477.0833206176758,"y":1012.3611373901367,"wires":[["c4b5f7b3.4730c8","d1c450bf.3d309"]]},{"id":"cc7b0657.9be388","type":"function","z":"d6ae0fae.095ed","name":"co2_sensor_status","func":"msg.payload = msg.payload.readUInt16BE(19);\nreturn msg;","outputs":1,"noerr":0,"x":478.0833206176758,"y":1049.3611373901367,"wires":[["99764688.fd8758"]]},{"id":"c79c13cc.617b1","type":"function","z":"d6ae0fae.095ed","name":"Raw_IR_reading","func":"msg.payload = msg.payload.readUInt16BE(21);\nreturn msg;","outputs":1,"noerr":0,"x":476.0833206176758,"y":1086.3611373901367,"wires":[["92cae59e.8029d8"]]},{"id":"528c60b3.84557","type":"function","z":"d6ae0fae.095ed","name":"PIR_activity_counter","func":"msg.payload = msg.payload.readUInt16BE(23);\nreturn msg;","outputs":1,"noerr":0,"x":483.0833206176758,"y":1124.3611373901367,"wires":[["f2da05f2.da6c28"]]},{"id":"9a27f61e.d577f8","type":"function","z":"d6ae0fae.095ed","name":"Gas_sensor_total_VOC","func":"msg.payload = msg.payload.readUInt16BE(25);\nreturn msg;","outputs":1,"noerr":0,"x":489.0833206176758,"y":1163.3611497879028,"wires":[["ad45df9a.fcd9a"]]},{"id":"f7967314.d5f0e","type":"function","z":"d6ae0fae.095ed","name":"Base64 decoder","func":"var b= new Buffer(msg.payload, 'base64');\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"x":225,"y":663,"wires":[["7c5c884.04bbb78","c3e27ca2.24c13","bdb308f3.6c0ad8","4dfb893a.a13758","6cbf7026.6fb77","c21c11c6.efd4c","7863311.bc521d","8c041493.b0a4f8","9903c025.6a40c","a3cd43f.6bd77c","edf38efd.abb36","cc7b0657.9be388","c79c13cc.617b1","528c60b3.84557","9a27f61e.d577f8","97cfc191.08987","748adf8c.452e2","70236e76.33633"]]},{"id":"f880a176.bc408","type":"debug","z":"d6ae0fae.095ed","name":"version","active":false,"console":false,"complete":"payload","x":701.0000610351562,"y":654,"wires":[]},{"id":"8985970d.9d0018","type":"debug","z":"d6ae0fae.095ed","name":"device id","active":true,"console":false,"complete":"payload","x":702.5555419921875,"y":692.2222595214844,"wires":[]},{"id":"26e168b0.a1eb78","type":"debug","z":"d6ae0fae.095ed","name":"battery voltage","active":false,"console":false,"complete":"payload","x":724.1111450195312,"y":769.5555419921875,"wires":[]},{"id":"5e0e27e3.7711c8","type":"debug","z":"d6ae0fae.095ed","name":"flags","active":false,"console":false,"complete":"payload","x":693.111083984375,"y":731.4444885253906,"wires":[]},{"id":"f31d9517.f2aed8","type":"debug","z":"d6ae0fae.095ed","name":"air temperature","active":true,"console":false,"complete":"payload","x":721.3333129882812,"y":810.2222900390625,"wires":[]},{"id":"3c572f23.4d3f9","type":"debug","z":"d6ae0fae.095ed","name":"air humidity","active":true,"console":false,"complete":"payload","x":709.138916015625,"y":852.2500610351562,"wires":[]},{"id":"bc2532e7.23b9c","type":"debug","z":"d6ae0fae.095ed","name":"barometric_pressure","active":true,"console":false,"complete":"payload","x":738.138916015625,"y":890.2500610351562,"wires":[]},{"id":"4b8ab0a.913505","type":"debug","z":"d6ae0fae.095ed","name":"ambient_light_ch0","active":false,"console":false,"complete":"payload","x":725.138916015625,"y":928.2500610351562,"wires":[]},{"id":"1988a143.11411f","type":"debug","z":"d6ae0fae.095ed","name":"ambient_light_ch1","active":false,"console":false,"complete":"payload","x":720.138916015625,"y":970.2500610351562,"wires":[]},{"id":"c4b5f7b3.4730c8","type":"debug","z":"d6ae0fae.095ed","name":"co2_concentration","active":true,"console":false,"complete":"payload","x":717.138916015625,"y":1008.2500610351562,"wires":[]},{"id":"99764688.fd8758","type":"debug","z":"d6ae0fae.095ed","name":"co2_sensor_status","active":false,"console":false,"complete":"payload","x":712.138916015625,"y":1045.2500610351562,"wires":[]},{"id":"92cae59e.8029d8","type":"debug","z":"d6ae0fae.095ed","name":"Raw_IR_reading","active":false,"console":false,"complete":"payload","x":714.138916015625,"y":1082.2500610351562,"wires":[]},{"id":"f2da05f2.da6c28","type":"debug","z":"d6ae0fae.095ed","name":"PIR_activity_counter","active":true,"console":false,"complete":"payload","x":725.138916015625,"y":1120.2500610351562,"wires":[]},{"id":"ad45df9a.fcd9a","type":"debug","z":"d6ae0fae.095ed","name":"Gas_sensor_total_VOC","active":true,"console":false,"complete":"payload","x":734.138916015625,"y":1162.2500734329224,"wires":[]},{"id":"97cfc191.08987","type":"function","z":"d6ae0fae.095ed","name":"Build data stream to be send to InfluxDB cloud","func":"var version = msg.payload[0];\nvar device_id = msg.payload.readUInt16BE(1);\nvar flags = msg.payload.readUInt16LE(3);\nvar battery_voltage = msg.payload.readUInt16BE(5)/1000;\nvar air_temperature = parseFloat((((msg.payload.readUInt16BE(7))/65535)*175-45).toFixed(2));\nvar air_humidity = parseFloat((((msg.payload.readUInt16BE(9))/65535)*100).toFixed(2));\nvar barometric_pressure = (msg.payload.readUInt16BE(11))*2;\nvar ambient_light_CH0 = msg.payload.readUInt16BE(13);\nvar ambient_light_CH1 = msg.payload.readUInt16BE(15);\nvar co2_concentration = (msg.payload.readUInt16BE(17))-32768;\nvar co2_sensor_status = msg.payload.readUInt16BE(19);\nvar Raw_IR_reading = msg.payload.readUInt16BE(21);\nvar PIR_activity_counter = msg.payload.readUInt16BE(23);\nvar Gas_sensor_total_VOC = msg.payload.readUInt16BE(25);\n\nmsg.topic ='battery_voltage='+ battery_voltage + \n',air_temperature=' + air_temperature + \n',air_humidity=' + air_humidity + \n',barometric_pressure=' + barometric_pressure + \n',ambient_light=' + ambient_light_CH0 + \n',CO2_concentration=' + co2_concentration + \n',Raw_IR_reading=' + Raw_IR_reading + \n',PIR_activity_counter=' + PIR_activity_counter +\n',Gas_sensor_total_VOC=' + Gas_sensor_total_VOC;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":607,"y":579,"wires":[["26999a39.009906"]]},{"id":"26999a39.009906","type":"debug","z":"d6ae0fae.095ed","name":"","active":false,"console":"false","complete":"false","x":912,"y":590,"wires":[]},{"id":"748adf8c.452e2","type":"function","z":"d6ae0fae.095ed","name":"data in JSON pairs","func":"var version = msg.payload[0];\nvar device_id = msg.payload.readUInt16BE(1);\nvar flags = msg.payload.readUInt16LE(3);\nvar battery_voltage = msg.payload.readUInt16BE(5)/1000;\nvar air_temperature = parseFloat((((msg.payload.readUInt16BE(7))/65535)*175-45).toFixed(2));\nvar air_humidity = parseFloat((((msg.payload.readUInt16BE(9))/65535)*100).toFixed(2));\nvar barometric_pressure = (msg.payload.readUInt16BE(11))*2;\nvar ambient_light_CH0 = msg.payload.readUInt16BE(13);\nvar ambient_light_CH1 = msg.payload.readUInt16BE(15);\nvar co2_concentration = (msg.payload.readUInt16BE(17))-32768;\nvar co2_sensor_status = msg.payload.readUInt16BE(19);\nvar Raw_IR_reading = msg.payload.readUInt16BE(21);\nvar PIR_activity_counter = msg.payload.readUInt16BE(23);\nvar Gas_sensor_total_VOC = msg.payload.readUInt16BE(25);\n\n//etc...\nreturn {payload:{version:version,\ndevide_id:device_id,\nflags:flags,\nbattery_voltage:battery_voltage,\nair_temperature:air_temperature,\nair_humidity:air_humidity,\nbarometric_pressure:barometric_pressure,\nambient_light_CH0:ambient_light_CH0,\nambient_light_CH1:ambient_light_CH1,\nco2_concentration:co2_concentration,\nco2_sensor_status:co2_sensor_status,\nRaw_IR_reading:Raw_IR_reading,\nPIR_activity_counter:PIR_activity_counter,\nGas_sensor_total_VOC:Gas_sensor_total_VOC\n}}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":520,"wires":[["f1c31b47.af2ca8","3ea85b78.8511e4"]]},{"id":"f1c31b47.af2ca8","type":"debug","z":"d6ae0fae.095ed","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":520,"wires":[]},{"id":"3ea85b78.8511e4","type":"influxdb out","z":"d6ae0fae.095ed","influxdb":"80701388.a5bea","name":"","measurement":"ambient_data","precision":"","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":1090,"y":460,"wires":[]},{"id":"978b64b2.28fb08","type":"function","z":"d6ae0fae.095ed","name":"curl","func":"msg.payload = 'curl -POST \"https://eu-central-1-1.aws.cloud2.influxdata.com/api/v2/write?org=your_email&bucket=yourbucket&precision=s\" --header \"Authorization: Token yourtocken\" --data-raw \"mem,host=host1 '\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":240,"wires":[["4fbc0da3.a1e174","54bebf3c.aac39"]]},{"id":"1de7456a.6a74eb","type":"debug","z":"d6ae0fae.095ed","name":"","active":false,"console":false,"complete":"false","x":1325,"y":261,"wires":[]},{"id":"18399b25.93c5f5","type":"debug","z":"d6ae0fae.095ed","name":"","active":false,"console":false,"complete":"false","x":1322,"y":308,"wires":[]},{"id":"86fd1706.c09a28","type":"debug","z":"d6ae0fae.095ed","name":"","active":false,"console":false,"complete":"false","x":1322,"y":349,"wires":[]},{"id":"4fbc0da3.a1e174","type":"function","z":"d6ae0fae.095ed","name":"data=topic","func":"var data = msg.topic\nmsg.payload=msg.payload + data + '\"'\nreturn msg;","outputs":1,"noerr":0,"x":910.5,"y":292,"wires":[["3629e45b.208cbc","fbaa4532.7eb3d8"]]},{"id":"54bebf3c.aac39","type":"debug","z":"d6ae0fae.095ed","name":"curl","active":false,"console":false,"complete":"payload","x":912,"y":230,"wires":[]},{"id":"3629e45b.208cbc","type":"debug","z":"d6ae0fae.095ed","name":"curl + data","active":false,"console":false,"complete":"payload","x":1096,"y":218,"wires":[]},{"id":"fbaa4532.7eb3d8","type":"exec","z":"d6ae0fae.095ed","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"curl http exec","x":1131,"y":295.5,"wires":[["1de7456a.6a74eb"],["18399b25.93c5f5"],["86fd1706.c09a28"]]},{"id":"90e29ebb.31cfb","type":"function","z":"d6ae0fae.095ed","name":"topic=data","func":"msg.topic ='battery_voltage=2.45,air_temperature=21.21,air_humidity=80.11,barometric_pressure=96412,ambient_light=610,CO2_concentration=455,Raw_IR_reading=37844,PIR_activity_counter=25,Gas_sensor_total_VOC=273';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":592,"y":241,"wires":[["978b64b2.28fb08"]]},{"id":"867309da.f15c98","type":"inject","z":"d6ae0fae.095ed","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":420,"y":300,"wires":[["90e29ebb.31cfb"]]},{"id":"cc8181b4.53b9f","type":"comment","z":"d6ae0fae.095ed","name":"InfluxDB Cloud injection","info":"","x":659,"y":201,"wires":[]},{"id":"70236e76.33633","type":"function","z":"d6ae0fae.095ed","name":"Build data stream to be send to InfluxDB cloud","func":"var version = msg.payload[0];\nvar device_id = msg.payload.readUInt16BE(1);\nvar flags = msg.payload.readUInt16LE(3);\nvar battery_voltage = msg.payload.readUInt16BE(5)/1000;\nvar air_temperature = parseFloat((((msg.payload.readUInt16BE(7))/65535)*175-45).toFixed(2));\nvar air_humidity = parseFloat((((msg.payload.readUInt16BE(9))/65535)*100).toFixed(2));\nvar barometric_pressure = (msg.payload.readUInt16BE(11))*2;\nvar ambient_light_CH0 = msg.payload.readUInt16BE(13);\nvar ambient_light_CH1 = msg.payload.readUInt16BE(15);\nvar co2_concentration = (msg.payload.readUInt16BE(17))-32768;\nvar co2_sensor_status = msg.payload.readUInt16BE(19);\nvar Raw_IR_reading = msg.payload.readUInt16BE(21);\nvar PIR_activity_counter = msg.payload.readUInt16BE(23);\nvar Gas_sensor_total_VOC = msg.payload.readUInt16BE(25);\n\nmsg.topic ='battery_voltage='+ battery_voltage + \n',air_temperature=' + air_temperature + \n',air_humidity=' + air_humidity + \n',barometric_pressure=' + barometric_pressure + \n',ambient_light=' + ambient_light_CH0 + \n',CO2_concentration=' + co2_concentration + \n',Raw_IR_reading=' + Raw_IR_reading + \n',PIR_activity_counter=' + PIR_activity_counter +\n',Gas_sensor_total_VOC=' + Gas_sensor_total_VOC;\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":380,"wires":[["978b64b2.28fb08"]]},{"id":"71c7e19b.58d84","type":"comment","z":"d6ae0fae.095ed","name":"InfluxDB local injection","info":"","x":1100,"y":420,"wires":[]},{"id":"9c075861.5c2e68","type":"mqtt-broker","z":"74e32402.5380ec","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c87b0402.e17488","type":"mqtt-broker","z":"74e32402.5380ec","name":"eu.thethings.network","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"80701388.a5bea","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"DECENTLAB","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]